html, body, div, h1, h2, img, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
body {
 background: rgb(65, 63, 63);
  text-align:center;
}



